/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

* {
  border: none;
  font-family: FreeSans, Regular;
  font-size: 16px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

#battery,
#backlight,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
  padding-left: 8px;
  padding-right: 8px;
}

#battery.critical,
#cpu.critical,
#disk.critical,
#memory.critical,
#temperature.critical {
  color: rgba(238, 46, 36, 1);;
}

#battery.warning,
#cpu.warning,
#disk.warning,
#memory.warning,
#network.disconnected,
#pulseaudio.muted {
  color: rgba(255, 210, 4, 1);
}

#clock,
#hardware,
#network,
#idle_inhibitor,
#pulseaudio,
#battery,
#tray,
#workspaces {
  margin: 0 5px;
}

window {
  background: rgba(46, 52, 64, 1);
}

window#waybar.empty {
  background-color: transparent;
}

#clock {
  font-weight: bold;
}

#pulseaudio {
  min-width: 75px;
}

#workspaces button {
  padding: 0 5px;
  color: rgba(150, 150, 150, 1);
}

#workspaces button.visible {
  color: rgba(255, 255, 255, 1);
}

#workspaces button.focused {
  color: rgba(255, 255, 255, 1);
  border-top: 3px solid rgba(76, 86, 106, 1);
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}
