/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

* {
  border: none;
  border-radius: 0;
  font-family: Sans, serif;
  font-size: 16px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

#battery,
#backlight,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
  padding-left: 8px;
  padding-right: 8px;
}

#battery.warning,
#cpu.warning,
#disk.warning,
#memory.warning,
#network.disconnected,
#pulseaudio.muted {
  color: rgba(255, 210, 4, 1);
}

#battery.critical,
#cpu.critical,
#disk.critical,
#memory.critical,
#temperature.critical {
  color: rgba(238, 46, 36, 1);
}

window {
  background: rgba(0, 0, 0, 0);
}

#clock {
  font-weight: bold;
}

#hardware,
#network,
#idle_inhibitor,
#pulseaudio,
#battery,
#tray {
  margin: 0 5px;
}

#pulseaudio {
  min-width: 80px;
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  color: rgba(150, 150, 150, 1);
}

#workspaces button.visible {
  color: rgba(255, 255, 255, 1);
}

#workspaces button.focused {
  color: rgba(255, 255, 255, 1);
  border-top: 3px solid rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}
